html, body{
	margin: 0;
	padding: 0;
}

#wrap{
	width: 1000px;
	margin: 0 auto;
}

/*comment out later*/
header, nav, section, footer{
	
	margin: 20px 0px;
	/*height: 400px; */
	background-color: #ddd;
}

header{
	position: relative;
}

nav{
	position: relative;
	padding: 40px;
}

section{
	background-color: green;
	overflow: auto;
}

.redbox{
	width: 200px;
	height: 200px;
	background-color: red;
	position: relative;
	top:20px;
	left: 20px;
	z-index: 1;
	
}

.bluebox{
	width: 200px;
	height: 200px;
	background-color: blue;
	z-index: 999;
}

.move{
	position: relative;
	top: 10px;
	left: 5px;	
}

.left{
	background-color: pink;
	width: 178px;
	float: left;
	padding: 10px 10px 10px 10px;
	border: 1px solid red;
}

.right{
	background-color: green;
	width:780px;
	float: right;
	padding: 10px 10px 10px 10px;	
}

















